@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-dark-color: #101010;
  --white-color: #ffffff;
  --white-color-ea: #eaeaea;
  --orange-color-ffa: #FFA542
  --orange-color-ffc: #FFCE7F
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-dark-color);
  background: #999;
}

ul, ol {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
