.baner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text-dark-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-bottom: 44px;
}

.baner__title {
  max-width: 350px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: var(--white-color);
}
.baner__img {
  margin-bottom: -20px;
}
